{% extends 'profile_dashboard.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block page_subtitle %}Manage your account information{% endblock %}

{% block maincontent %}

<h2 class="text-center alert alert-info">My Order List</h2>
<div class="container">
    {% for order in orders %}
      
    
    <div class="row">
        <div class="col-4 ">
            <h4>Transaction_UUID:{{order.transaction_uuid}}</h4>

            <p>Status: {{order.status}}</p>
            {% for i in order.items.all %}
              
            
            <div class="card" style="width: 18rem;"></div>
            <ul class="list-group">
                <li class="list-group-item">Product name: {{i.product.name}}</li>
                <li class="list-group-item">Quantity: {{i.quantity}}</li>
                <li class="list-group-item">Price: NRS. {{i.price}}</li>
                
            </ul>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock maincontent %}